
/* Sets an image for the background */
html {
    background-image: url(Media/Images/Fire_BG.jpg);
}

/* Changes main body color to black */
body {
    background-color: rgb(25, 25, 25);
    color: white;
}

main, footer{
    padding-left: 20px;
    padding-right: 20px;
}

footer {
    align-content: center;
}

body {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    border-style: groove;
    border-color: #F6F6F6;
}

header, .Nav ul {
    max-width: 100%;
}

header {
    position: relative;
    bottom: 22px;
}

#ClockContainer {
    position: fixed;
    top: 2px;
    right: 2px;
}

#Clock {
    font-family: 'Times New Roman', Times, serif;
    background-color: black;
    opacity: 0.75;
    font-size: xx-large;
    border-style: double;
    border-radius: 10px;
    border-color: lightblue;
    border-width: 5px;
    height: 32px;
    text-align: center;
    width: 130px;
    padding-bottom: 6px;
    margin: 0;
}

#Clock:hover {
    opacity: 1;
}


#Logo {
    position: relative;
    top: 0;
    left: 0;
    width: 150px;
    height: 150px;
    border-style: solid;
    border-color: blue;
    border-radius: 2px;
    float: left;
}

.Top_Span {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 25pt;
    text-decoration: underline;
    font-weight: normal;
    margin-left: 155px;
    margin-right: 155px;
    text-align: center;
    position: relative;
    top: 30px;
    max-width: 100%;
}

.Nav {
    background-color: blue;
    padding-left: 0;
    height: 45px;
    margin-left: 0;
    margin-top: 70px;
    max-width: 100%;
}

.Currently_Selected {
    background-color: #b81d1d;
}

.Nav ul {
    margin: 0 0 0 100px;
}

.nav_link_text {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 16pt;
}

.Nav li {
    list-style-type: none;
    display: inline-block;
    height: 45px;
}
.Nav li p{
    color: white;
    position: relative;
    top: 8px;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    margin-top: 0;
    margin-bottom: 0;
}

.Nav li:first-child {
    margin-left: 5px;
}
.Nav li:hover:not(.Currently_Selected) {
    background-color: red;
}

#Page_Title {
    font-size: 24pt;
    text-align: center;
    text-decoration: underline;
}

.Social_Table {
    width: 25%;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.Social_Table caption {
    text-decoration: underline;
    font-size: 25pt;
    text-align: center;
}

.Social_Table td {
    text-align: center;
}

.Footer {
    padding-bottom: 10px;
    font-size: 10pt;
}

a {
    font-size: large;
    color: yellow;
}

.Social_Logos {
    padding-top: 5px;
    width: 50px;
    height: 50px;
}

.Yt_Logo {
    height: 50px;
}
