
/* Sets an image for the background */
html {
    background-image: url(Media/Images/Background.webp);
}

/* Changes main body color to black */
body {
    background-color: black;
    color: white;
}

main, footer{
    padding-left: 20px;
    padding-right: 20px;
}

header, .Nav ul {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

body {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

#Logo {
    position: relative;
    top: 0;
    left: 0;
    width: 150px;
    height: 150px;
    border-style: solid;
    border-color: blue;
    border-radius: 2px;
    float: left;
}

.Top_Span {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 25pt;
    padding-left: 10px;
    text-decoration: underline;
    position: relative;
    top: 30px;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
    width: 100%;
}

.Nav {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 16pt;
    background-color: blue;
    padding-left: 75px;
    height: 30px;
    margin-top: 80px;
}
.Nav li {
    list-style-type: none;
    display: inline-block;
}
.Nav a {
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
}
.Nav a:hover {
    background-color: red;
}

.Social_Table {
    width: 300px;
}

.Social_Table caption {
    text-decoration: underline;
    font-size: 25pt;
    text-align: center;
}
.Social_Table a{
    color: white;
    font-size: 20pt;
    padding-left: 15px;
}

.Footer {
    padding-bottom: 10px;
    font-size: 10pt;
}

a {
    font-size: large;
    color: yellow;
}